[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaggle = "*"
fire = "*"
tqdm = "*"
matplotlib = "*"
numpy = "*"
notebook = "*"

[dev-packages]

[requires]
python_version = "3.8"
